
div.praiseBox{
    border: 2px black solid;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
}
body{
    padding-top: 75px;
    background-color: #93E1F1;
}
img.tran{
    transition: all 500ms;
}
img:hover.tran{
    transform: scale(1.5);
}
